* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Inconsolata', monospace;
  padding: 20px;
  margin-left: 1%;
}

th, td {
  padding-right: 20px;
}

td + td {
  padding-right: 16px;
}

li, th, td {
  padding-bottom: 2px;
}

h1 {
  font-weight: 500;
}

hr {
  width: 92.9%;
}

blockquote {
  padding-left: 1.5rem;
}

ol {
  margin-left: 40px;
  padding-left: 3rem;
}

blockquote, ol {
  border-left: 5px solid #64b5f6;
  font-family: 'Fira Mono', monospace;
  font-size: 85%;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #3399ff;
}

a:hover {
  color: #3366ff;
}

@media screen and (min-width: 675px) {
  #wrapper {
    width: 650px;
    margin: 0 auto;
  }
}
