* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Inconsolata', monospace;
  padding: 20px;
  margin-left: 1%;
}

th, td {
  padding-right: 30px;
}

h1 {
  font-weight: 500;
}

hr {
  width: 95%;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #3399ff;
}

a:hover {
  color: #3366ff;
}

@media screen and (min-width: 675px) {
  #wrapper {
    width: 650px;
    margin: 0 auto;
  }
}
